
label{

  font-family: "Georgia", serif; 
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
 
  
}
.c {
    width: 30%; 
    margin: 0 auto; 
    position: absolute;
    top: 50%; 
    left: 30%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  input,
textarea {
  width: 380px; 
  padding: 10px;
  margin-bottom: 5px; 
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f5f5f5;
}

button {
    
    width: 200px; 
    padding: 10px 20px;
    border: none; 
    border-radius: 15px; 
    background-color: #4caf50; 
    color: white; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  button:hover {
    background-color: #45a049; 
    transform: translateY(-2px);
  }

  .x {
    width: 30%; 
    margin: 0 auto; 
    position: absolute;
    top: 50%; 
    left: 70%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }